{% extends "general/index.html" %}

{% block title %}<title>Home page</title>{% endblock %}

{% block content %}

{% if random_curiosity %}
    <p>№{{ random_curiosity.id }} - {{random_curiosity.text }}</p>
{% endif %}

{% if data %}
{% for str in data %}
<p>{{ str }}</p>
{% endfor %}
{% endif %}

<div class="content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis facilisis purus, sit amet iaculis mi. Nam nec laoreet sapien. Phasellus at tristique felis, in condimentum erat. Pellentesque dictum porta pharetra. Quisque dapibus metus vitae dolor interdum, et dictum dui tristique. Ut nec dolor ex. Quisque condimentum odio porta turpis feugiat, malesuada venenatis lacus fermentum. Nunc a felis sodales, placerat nisl quis, volutpat mi. Praesent quis tellus ultricies, iaculis metus eget, malesuada nulla. Proin mi felis, volutpat vitae tellus in, porta iaculis tellus. Nunc commodo nulla sit amet nulla hendrerit, vel vestibulum est rutrum. Sed elit ipsum, tristique et malesuada sollicitudin, bibendum sit amet urna. Pellentesque volutpat massa quis turpis efficitur tempus. Sed iaculis sem et consequat faucibus.
    </p>
    <p>
        Morbi et faucibus leo. Vestibulum eu nisi a libero imperdiet commodo quis eu ex. Proin vitae dapibus est. Fusce egestas accumsan quam ut bibendum. Sed tristique volutpat nulla vel tincidunt. Proin pellentesque eleifend lacus vel gravida. Phasellus ac elit in eros lobortis auctor sit amet in felis. Vestibulum rhoncus arcu tempus mauris maximus volutpat eget id sapien. Aliquam eget vestibulum mauris.
    </p>
    <p>
        Proin posuere quam sit amet dignissim suscipit. Aliquam hendrerit, dolor id ornare venenatis, nibh nibh ornare massa, eu vehicula dolor dui nec mi. Curabitur finibus metus eu nisl maximus, eu molestie urna scelerisque. Duis finibus faucibus tellus, non maximus augue vulputate in. Etiam laoreet convallis lorem quis convallis. Curabitur in nunc dictum, pellentesque neque et, interdum ligula. Aliquam erat volutpat. Phasellus pretium nisl vel magna dictum placerat.
    </p>
    <p>
        Vivamus pharetra lorem sit amet lacus pharetra, at dapibus sem imperdiet. Vestibulum accumsan id ante efficitur mollis. Phasellus ut vestibulum orci. Donec eu justo quis nulla mollis ullamcorper sit amet non libero. Fusce in lectus id mauris pulvinar vestibulum ac eget velit. Nullam varius, magna eget euismod eleifend, purus nisl porttitor metus, ac dignissim enim ante non risus. Nulla ut nibh at lorem consequat tincidunt. Pellentesque fringilla enim id congue molestie. Proin rutrum dui vel felis posuere bibendum. Quisque lobortis rhoncus nunc eu aliquet. Etiam ullamcorper, nulla ut condimentum tincidunt, justo erat suscipit enim, vitae cursus ex dui sit amet nibh. Suspendisse auctor felis nibh, sed mattis felis tincidunt sit amet. Donec porttitor eros sit amet velit consectetur mattis. Proin dui ex, placerat nec ligula eu, pellentesque interdum turpis.
    </p>
    <p>
        In mattis libero ac ligula dictum, venenatis viverra ante feugiat. Maecenas placerat tristique risus, eget cursus purus placerat eu. Nulla facilisi. Sed rhoncus justo ut justo fermentum condimentum. Donec efficitur, tellus ac vulputate condimentum, orci lorem porta quam, sit amet lobortis erat mi at lacus. Maecenas luctus aliquet nulla, vitae malesuada quam. Nulla eget ante mauris. Ut ut orci vel nunc elementum tristique sed sed risus. Curabitur accumsan eleifend nibh. Etiam nec sapien pretium, tincidunt est vitae, tempor magna. Mauris congue urna ut lacus lobortis, et volutpat diam rutrum. Phasellus ut imperdiet ligula. Nullam laoreet ex id turpis laoreet porta. Suspendisse porta, erat et cursus cursus, leo nunc efficitur nulla, ac ornare nibh odio id purus. Pellentesque dignissim vestibulum sapien.
    </p>
</div>
{% endblock %}