{% extends 'general/index.html' %}

{% block title %}<title>Attampt</title>{% endblock %}

{% block content %}
<div class="content">
    {% if image %}
<!--    {% for element in image %}-->
    {{ image }}
<!--    {% endfor %}-->
<!--    {% else %}-->
<!--    ERROR-->
    {% endif %}

    <br>

    {% if error %}
    {{ error }}
    {% endif %}


    {% if im1 %}
    {{ im1 }}
    {% endif %}

    <br>

    {% if data %}
    {{ data }}
    {% else %}
    ERROR
    {% endif %}
</div>
{% endblock %}